{% load widget_tweaks %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}
<form hx-post="{{ request.path }}" hx-post='' hx-swap='outerHTML' hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content" enctype="multipart/form-data" hx-encoding="multipart/form-data">
  <div class="modal-header">
    <h5 class="modal-title">Create Company</h5>
  </div>
  <div class="modal-body">
    {{ form|crispy }}
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger btn-sm" type="button" data-bs-dismiss="modal">Cancel</button>
    <button class="btn btn-primary btn-sm" type="submit">Save</button>
  </div>
</form>
{% endwith %}