body{
    min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* footer */
footer {
  width: 100%;
  height: 10px;
  position: relative;
  bottom: 0;
  padding: 8px 0;
  text-align: center;
    margin-top: auto;
}

.footerCol {
    text-align: center;
}

.copyrightCol {
    font-size: 12px; /* Reduce the font size for the copyright text */
}

.copyrightCol p {
    margin: 0;
}

/* Apply CSS to the outer container div */
.container-div {
    display: flex;
    align-items: center;
    margin: 10px;
}

/* Apply CSS to the first inner div */
.logo-div {
    margin-right: 20px;
}

/* Apply CSS to the second inner div */
.title-div {
    margin-right: 20px;
}

/* Apply CSS to the image within the first inner div */
.logo-img {
    max-width: 100px;
    max-height: 100px;
}


