/* footer */
footer {
    background-color: white !important;
    position: relative;
    bottom: 0;
    height: 100px;
    width: 100%;
    padding: 10px 0;
}

.footerCol {
    text-align: center;
}

.copyrightCol {
    font-size: 12px; /* Reduce the font size for the copyright text */
}

.copyrightCol p {
    margin: 0;
}
