{% extends "base.html" %}
{% load bulma_tags %}
{% load custom_tags %}
{% block title %} Billify: {{ company.name }} {% endblock %}
{% block content %}
<form action="{% url 'invoice_list' pk=pk %}" method="post">{% csrf_token %}
    <div class="card">
        <header class="card-header">
            <div class="logo-div">
                <img src="{{ company.logo.url }}" alt="{{ company.name }} Logo" class="logo-img">
            </div>
            <p class="card-header-title">
                All Orders / Change Order Status &nbsp;<button class="button is-rounded is-info">
                    <a href="{% url 'create_invoice' pk %}" class="has-text-white">Create Invoice</a></button>
            </p>
        </header>
        <div class="card-content">
            <div class="content">

                <table class="table is-fullwidth is-bordered is-hoverable is-striped">
                    <tbody>
                        <thead>
                            <tr>
                                <th></th>
                                <th>#</th>
                                <th>CUSTOMER</th>
                                <th>DATE</th>
                                <th>DUE DATE</th>
                                <th>BALANCE</th>
                                <th>TOTAL</th>
                                <th>STATUS</th>
                                <th>TYPE</th>
                                <th>VIEW</th>
                                <th>EDIT</th>
                                <th>DOWNLOAD</th>

                            </tr>
                        </thead>
                        {% for invoice in invoices %}
                        <tr>
                            <td><input class="checkbox" type="checkbox" id="{{invoice.id}}" value="{{invoice.id}}" name="invoice_id" size="1" {% if not invoice.type == 'INV' %}disabled{% endif %}/>
                            </td>
                            <td width="1%">{{invoice.invoice_number}}</td>
                            <td width="9%">{{invoice.customer}}</td>
                            <td> {{invoice.date}}</td>
                            <td> {{invoice.due_date}} </td>
                            <td style="width: 1%">
                                {% if invoice.type == 'INV' %}
                                {{ invoice.company.currency|currency_symbol }}{{ invoice.balance|format_money }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td>{{ invoice.company.currency|currency_symbol }}{{invoice.total_amount|format_money}}</td>
                            <td style="width: 1%">
                            {% if invoice.type == 'INV' %}
                                {% if invoice.get_status %}
                                    <a class="button is-small is-success" href="#">Paid</a>
                                {% else %}
                                    <a class="button is-small is-warning" href="#">Not Paid</a>
                                {% endif %}
                            {% else %}
                                N/A
                            {% endif %}
                            </td>
                            <td>
                                {% if invoice.type == 'INV' %}
                                    <a class="button is-small is-success" href="#">Invoice</a>
                                {% else %}
                                    <a class="button is-small is-warning" href="#">Quotation</a>
                                {% endif %}
                            </td>
                            <td style="width: 1%">
                                <a href="{% url 'invoice_detail' invoice.pk %}">
                                    <div class="button is-small is-info">View</div>
                                </a>
                            </td>
                            <td style="width: 1%">
                                <a href="{% url 'edit_invoice' invoice.pk %}">
                                    <div class="button is-small is-info">Edit</div>
                                </a>
                            </td>
                            <td style="width: 1%"><a href="{% url 'invoice_download' invoice.pk %}">Download</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div><br /><br /><br />
    <div class="card has-background-white-ter">
        <header class="card-header">
            <p class="card-header-title">
                Change Order Status
            </p>
        </header>
        <div class="card-content" style="display: flex; align-items: center;">
        <div class="select is-rounded" style="margin-right: 10px;">
            <select id="status" name="status">
                <option value="1">Paid</option>
                <option value="0">Not Paid</option>
            </select>
        </div>
        <input class="button is-info is-rounded" type="submit" value="Change Status">
    </div>

    </div>
</form>
{% endblock %}
